<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="member">
	<select id="login" resultType="mvo" parameterType="mvo">
		select * from members where m_id=#{m_id} and m_pw=#{m_pw}
	</select>

	<select id="ajax_list" resultType="mvo">
		select * from members order by m_idx
	</select>

	<select id="idchk" resultType="int" parameterType="String">
		select count(*) from members where m_id=#{m_id}
	</select>

	<insert id="join" parameterType="String">
		insert into members(m_id, m_pw, m_name, m_age, m_reg)
		values(#{m_id}, #{m_pw}, #{m_name}, #{m_age}, sysdate())
	</insert>
	
	<insert id="addr_insert" parameterType="com.ict.sns.AddrVO">
		insert into member_addr
		 (
		 	member_idx,
		 	postcode,
		 	address,
		 	<if test="detailAddress != null and detailAddress != ''">
		 	detailAddress,
			</if>
			<if test="extraAddress != null and extraAddress != ''">
		 	extraAddress,
		 	</if>
		 	<if test="base_addr != null and base_addr != ''">
		 	base_addr,
		 	</if>
		 	memo
		 )
		values
		 (
		 	2,
		 	#{postcode},
		 	#{address},
		 	<if test="detailAddress != null and detailAddress != ''">
		 	#{detailAddress},
			</if>
			<if test="extraAddress != null and extraAddress != ''">
		 	#{extraAddress},
		 	</if>
		 	<if test="base_addr != null and base_addr != ''">
		 	#{base_addr},
		 	</if>
		 	'기본주소'
		 )
	</insert>
</mapper>
